body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', Arial, sans-serif; 
}

.container {
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}

.login-card {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    margin: 20vh auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.boton {
    border-radius: 25px;
    font-weight: bold; 
    margin-bottom: 10px; 
    font-family: 'Work Sans', sans-serif;

}

.campoform {
    border-radius: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;

}

.textoenlaces {
    color: #6c757d;
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;

}

.textocentrado {
    text-align: center;
    font-family: 'Work Sans', sans-serif;

}

.textoizq {
    text-align: left !important;
    font-family: 'Work Sans', sans-serif;

}

.form-check-label {
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;

}

body {
    background-color: #f8f9fa;
}

.bg-yellow {
    background-color: #FFC805 !important;
}

.bg-black {
    background-color: #000 !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFC805;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.instagram {
    width: 60px;
    height: 60px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.ubic{
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
.margena {
    margin-top: 4rem !important;
}

.paddingt {
    padding: 1.5rem !important;
}

.location-list .card {
    border: none;
}

.location-card img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.imgciudad {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 50px;

}

.input-group{
    margin-top: 30px;
}

.navbar-brand {
    font-size: 1.5rem; 
    font-family: 'Work Sans', sans-serif; 
}

.logo-img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.imgcontainer {
    position: relative;
}

.ciudad {
    font-family: "Work Sans", sans-serif;
    position: absolute;
    bottom: 110px;
    left: 8vh;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 3px #000000;
}

.footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
    width: 100%; /* Asegura que el footer ocupe toda la anchura */
    background-color: #000; /* Estilo del fondo para visibilidad */
    color: #fff; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding: 20px 0; /* Padding para dar espacio dentro del footer */
    position: relative; /* Asegura que el footer tenga un posicionamiento relativo */
    z-index: 1000; /* Aumenta el z-index para asegurar que esté por encima de otros elementos */
    margin-left: 0; /* Asegura que no haya margen a la izquierda */
    margin-right: 0; /* Asegura que no haya margen a la derecha */
    padding-left: 0; /* Asegura que no haya padding a la izquierda */
    padding-right: 0; /* Asegura que no haya padding a la derecha */
}

.container-principal {  /* Asegúrate de que este es el contenedor que envuelve todo, incluyendo el footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el contenedor principal ocupe al menos el alto de la ventana */
    width: 100%; /* Asegura que ocupe toda la anchura disponible */
    padding: 0; /* Elimina cualquier padding interno */
}

.footer p {
    margin: 0;
    font-size: 14px;
}


/*Perfil usuario CSS*/


.Card-profile {
    width: 90%;
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
    background: #FFC805; 
    padding: 16px; 
}

.imageprofile {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: auto;
    border-radius: 50%;
}

.Card-profile-content {
    text-align: center;
    padding-top: 20px;
    font-family:"Work Sans", sans-serif;
}

.Nombreapellidos {
    font-size: 1.5em;
    font-weight: bold; 
    color: black; 
    margin-bottom: 5px; 
}

.Profesion {
    font-size: 1.2em;
    color: black;
}



.Card-informationprofile {
    background: #FFFFFF; 
    border-radius: 20px; 
    padding: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.titleinformationprofile {
    font-size: 2em;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.info-title {
    color: #333333;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-content {
    color: #666666;
    font-size: 1em;
    margin-bottom: 10px;
}

.btn-edit-profile {
    background-color: #FFC805;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-edit-profile:hover {
    background-color: #E6B700;
    color: white;
}


/*listado favoritos perfil usuario*/

#containerfavoritos , #containersoportepago {
    height: auto;
    background: #FFFFFF; 
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

#containerfavoritos {
    margin-bottom: 40px;
}

.h2favoritos {
    color: #333333;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

.card-img-topfavoritos {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover; 
}

.card-titlefavoritos , .card-titlesoportepago {
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
}

.listadofavoritos {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.itemlistadofavoritos {
    color: #666666;
    font-size: 1em;
    margin-bottom: 5px;
}

#cardfavorito , #soportepago {
    background: #FFFFFF; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#buttonfavoritos {
    background-color: #FFC805; 
    color: black;            
    border: none;             
    text-align: center;        
    text-decoration: none;     
    display: inline-block;     
    margin-top: 12px;          
    cursor: pointer;            
    border-radius: 10px;        
    transition: background-color 0.3s, color 0.3s;
}

#buttonfavoritos:hover {
    background-color: #E6B700;  
    color: white;              
}
