:root {
    --primary-color: #FFC805;
    --accent-color: #F1BC00;
    --background-color: #f8f9fa;
    --text-color: #0F0F0F;
    --font-family: 'Work Sans', sans-serif;
    --font-size-title-lg: 2.5rem;
    --font-size-title-md: 2rem;
    --font-size-title-sm: 1.5rem;
    --font-size-title-xs: 1.2rem;
    --font-size-body: 1rem;
    --font-size-small: 0.8rem;
    --font-weight-bold: 600;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size-body);
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
}

header, nav {
    background-color: var(--primary-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    font-size: var(--font-size-small);
}

/* Bootstrap classes */

.form-control {
    border-radius: 25px;
    padding: 10px 20px;
    font-family: var(--font-family);
}

.input-group-append button {
    border-radius: 0 40px 40px 0;
    padding: 12px 20px;
    right: 0;
    background-color: white;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-left: none;
}

.btn {
    border-radius: 25px;
    padding: 10px 20px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: .75rem 2.5rem;
}

.btn:hover {
    color: var(--text-color);
    background-color: var(--accent-color);
    border-color: none;
}

/* Navbar & Sidenav */

.navbar-toggler {
    border: none;
}

.navbar-brand img {
    width: 200px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFC805;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #818181;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Nav Logo */

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.logo-img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.logout {
    position: relative;
}

.logout-icon {
    font-size: 1.5rem;
    color: black;
}

/* Nav User */

#user-email {
    display: none;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    position: absolute;
    right: 2rem;
}

@media screen and (min-width: 768px) {
    #user-email {
        display: block;
    }   
    
}

/* Hero */

.hero {
    background-color: var(--primary-color);
    padding: 6rem 1rem 2rem;
    margin: 0 auto;
    align-content: center;
}

.hero__title h1 {
    font-size: var(--font-size-title-lg);
    font-weight: var(--font-weight-bold);
    text-align: center;
    max-width: 35rem;
    margin: 0 auto;
}

.hero__search {
    max-width: 35rem;
    margin: 0 auto;
}

/* Sections */

section {
    margin: 2rem ;
}

.section__title {
    padding: 1rem 0 2rem 0;
    text-align: center;
}

/* Categories */

.categories {
    max-width: 40rem;
    margin: 0 auto;
}

.category__icon {
    width: 4rem;
    height: 4rem;
    font-size: var(--font-size-title-sm);
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.category__text {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-bold);
}

/* Coworkings */

.coworking__details {
    margin-bottom: 4rem;
}

.coworking__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.coworking__body {
    margin-bottom: 2rem;
}

.coworking__excerpt {
    font-size: var(--font-size-title-sm);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1.5rem;
}

.coworking__price {
    font-size: var(--font-size-title-xs);
    margin-bottom: 1.5rem;
}

/* Booking */

.booking__form {
    padding: 4rem;
    margin: 4rem;
    max-width: 40rem;
    margin: 0 auto;
}

/* City Cards */

.city__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.city__name {
    position: absolute;
    display: flex;
    font-size: var(--font-size-title-sm);
    color: white;
    text-shadow: 2px 2px 3px #000000;
}

/* Login */

.login-card {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    margin: 20vh auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.boton {
    border-radius: 25px;
    font-weight: bold; 
    margin-bottom: 10px; 
    font-family: 'Work Sans', sans-serif;
    padding: 5px 80px;
    margin-left: 50px;
}

.campoform {
    border-radius: 15px;
    background-color: #f0f0f0;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 15px;

}

.textoenlaces {
    color: #6c757d;
    font-size: 14px;
    margin-top: 20px;
    font-family: 'Work Sans', sans-serif;

}

.textoizq {
    text-align: left !important;
    font-family: 'Work Sans', sans-serif;

}

.form-check-label {
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

/*Perfil usuario CSS*/


.Card-profile {
    width: 90%;
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px; 
    background: #FFC805; 
    padding: 16px; 
}

.imageprofile {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: auto;
    border-radius: 50%;
}

.Card-profile-content {
    text-align: center;
    padding-top: 20px;
    font-family:"Work Sans", sans-serif;
}

.Nombreapellidos {
    font-size: 1.5em;
    font-weight: bold; 
    color: black; 
    margin-bottom: 5px; 
}

.Profesion {
    font-size: 1.2em;
    color: black;
}



.Card-informationprofile {
    background: #FFFFFF; 
    border-radius: 20px; 
    padding: 16px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.titleinformationprofile {
    font-size: 2em;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
}

.info-title {
    color: #333333;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-content {
    color: #666666;
    font-size: 1em;
    margin-bottom: 10px;
}

.btn-edit-profile {
    background-color: #FFC805;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-edit-profile:hover {
    background-color: #E6B700;
    color: white;
}


/*listado favoritos perfil usuario*/

#containerfavoritos , #containersoportepago {
    height: auto;
    background: #FFFFFF; 
    border-radius: 20px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

#containerfavoritos {
    margin-bottom: 40px;
}

.containerperfil {
    padding-top: 6rem;
}

.h2favoritos {
    color: #333333;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

.card-img-topfavoritos {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover; 
}

.card-titlefavoritos , .card-titlesoportepago {
    font-size: 1.5em;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
}

.listadofavoritos {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.itemlistadofavoritos {
    color: #666666;
    font-size: 1em;
    margin-bottom: 5px;
}

#cardfavorito , #soportepago {
    background: #FFFFFF; 
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

#buttonfavoritos {
    background-color: #FFC805; 
    color: black;            
    border: none;             
    text-align: center;        
    text-decoration: none;     
    display: inline-block;     
    margin-top: 12px;          
    cursor: pointer;            
    border-radius: 10px;        
    transition: background-color 0.3s, color 0.3s;
}

#buttonfavoritos:hover {
    background-color: #E6B700;  
    color: white;              
}
